<h1 class="mb-4"> <%= @user.name %> </h1>

<div class="row">
  <div class="col-md mb-4">
    <p class="text-muted"> <%= pluralize(@posts.count, 'post').upcase %> CREATED</p>
    <div class="list-group mt-3">
        <% @user.posts.each do |post| %>
          <%= link_to post.body, post_path(post), class: "list-group-item list-group-item-action" %>
        <% end %>
    </div>
  </div>
</div>