<%= form_with model: @post, local: true do |f| %>
  <% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |error| %>
        <li> <%= error %> </li>
      <% end %>
    </ul>
  <% end %>
<form>
  <div class="form-group row">
        <%= f.text_area :body, placeholder: "Whats on your mind?" ,class: "form-control" %>
  </div>
  <div class="form-group row">
      <%= f.submit "Post", class:"btn btn-primary"%>
  </div>
</form>
<% end %>